<% set_meta_tags title: "About", description: "Make the most of your Instagram_clone experience by connecting with the people and things you love. Here's how we are empowering our community." %>
<h1>About</h1>
<p>
  About the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">About page</a>.
</p>