<% set_meta_tags title: "Notifications", noindex: true %>
<% if @notifications.exists? %>
  <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
  <ol>
    <%= render notifications %>
  </ol>
  <%= will_paginate notifications %>
<% else %>
  <h2>通知はありません。</h2>
<% end %>